* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Plus Jakarta Sans", serif;
    background: #F1F1F1;
}

.container {
    width: 100%;
    max-width: 1270px;
    padding: 0px 15px;
    margin: 0 auto;
}

.footer-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px 15px;
    margin: 0 auto;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    max-width: 100%;
}













/* HEADER */

header.site-header {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    padding: 20px 32px;
    background: #fff;
    border-radius: 100px;
}

.header-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.head-logo a {
    display: block;
}

.head-logo a img {
    width: 100%;
    display: block;
    object-fit: contain;
    width: 103px;
}

.head-nav {
    flex: 1;
}

.head-logo {
    min-width: 140px;
}

.head-more {
    min-width: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.head-nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 27px;
}

.head-nav ul li a {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    letter-spacing: -0.03em;
    color: #471689;
    display: block;
}

.head-nav ul li a::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    display: block;
    left: 0;
    right: 0;
    bottom: 100%;
    margin: auto;
    background-image: url(../images/Star.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(0) translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
}

.head-nav ul li:hover a::before,
.head-nav ul li a.active::before {
    opacity: 1;
    transform: scale(1) translateY(0%);
}

.head-toggle {
    cursor: pointer;
    background: #F7F7F7;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #0000001A;
    display: none;
}

.head-toggle svg {
    height: 16px;
    width: 16px;
    display: block;
}

.site-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11.75px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    background: linear-gradient(107.65deg, #A15EFB 25.86%, #6D00FF 74.14%);
    box-shadow: 0px 0px 0px 0px #A15EFB33;
}

.site-btn:hover {
    box-shadow: 0px 0px 0px 4px #A15EFB33;
}

.grad {
    background: linear-gradient(107.65deg, #A15EFB 25.86%, #6D00FF 74.14%);
    background-size: 100% 100%;
    transition: all 0.3s;
}

.grad:hover {
    background-size: 180% 100%;
}

















.banner-sec {
    width: 100%;
    padding: 230px 0px 80px;
}

.banner-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 47%;
    gap: 30px;
    align-items: center;
}

.banner-col1 {
    width: 100%;
}

.banner-col1 div.site-btn {
    padding: 8px 16px 8px 6px;
    background: #fff;
    color: #1B1B1B;
    gap: 4px;
    box-shadow: 0px 1px 0px 2px #A15EFB33;
    line-height: 20px;
    margin-bottom: 20px;
}

.banner-col1 h1 {
    font-size: 58px;
    font-weight: 400;
    line-height: 63.8px;
    letter-spacing: -0.05em;
    color: #1B1B1B;
    width: 120%;
    margin-bottom: 40px;
}

.banner-col1 h1 b {
    font-style: italic;
}

.banner-col1 h1 span {
    font-weight: 700;
    color: #A15EFB;
}

.banner-col1 p {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.05em;
    margin-bottom: 12px;
}

.banner-col1 a.site-btn {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.05em;
    box-shadow: 0px 0px 0px 4px #A15EFB33;
}

.banner-col2 {
    width: 100%;
}

.banner-col2 .img-wrap {
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    position: relative;
}

.img-wrap img:not([class]) {
    width: 100%;
    display: block;
    object-fit: contain;
    aspect-ratio: 582/515;
}

.img-wrap .bn-frame {
    width: 100%;
    position: absolute;
    right: 3%;
    bottom: 11%;
    width: 295px;
    max-width: 60%;
}




















.board-sec {
    width: 100%;
    padding: 80px 0px 60px;
}

.board-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 0px 0px 10px #D7C1F4, 0px 10px 0px 10px #C8A7F5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.board-col2 {
    width: 100%;
    padding: 40px;
    background: #ffffff;
    border-radius: 20px;
}

.board-col1 {
    width: 100%;
    position: relative;
}

.board-baji .for-mb {
    display: none;
}



/* Servies-Sec */

.service-sec {
    width: 100%;
    padding: 60px 0;
}

.service-content {
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;
    gap: 136px;
    justify-content: space-between;
}

.serv-left h1 {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 52.8px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1B1B1B;
    padding-bottom: 12px;
}

.serv-left p {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3E3E3E;
    padding-bottom: 40px;
}

.serv-left a.site-btn {
    box-shadow: 0px 0px 0px 4px #A15EFB33;
}

.serv-right ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.serv-right ul li {
    background-color: #FFFFFF;
    padding: 32px 66px 32px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.serv-right ul li .no-box {
    background: linear-gradient(107.65deg, #A15EFB 25.86%, #6D00FF 74.14%);
    box-shadow: 0px 0px 0px 4px #A15EFB33;
    width: 20%;
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serv-right ul li .no-box span {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    letter-spacing: -0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.serv-right ul li .cntn h3 {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    padding-bottom: 9px;
}

.serv-right ul li .cntn p {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6F6F6F;
}
















/* footer */

footer {
    width: 100%;
    padding: 120px 0 60px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
}

.bd {
    background-color: #C6C6C6;
    width: 100%;
    height: 1px;
}

.footer-top .ft-logo img {
    width: 100%;
    display: block;
    object-fit: contain;
    width: 163px;
}

.footer-top a.site-btn {
    box-shadow: 0px 0px 0px 4px #A15EFB33;
}

footer .parah {
    margin: 32px 0;
}

footer .parah p {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #777777;
}

.ft-mid {
    display: flex;
    align-items: flex-start;
    gap: 66px;
    padding-bottom: 32px;
    border-bottom: 1px solid #C6C6C6;
}

.ft-mid ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ft-mid ul li h3 {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 25.2px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1B1B1B;
}

.ft-mid ul .links {
    display: flex;
    gap: 32px;
    align-items: center;
}

.ft-mid ul .links a {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.16px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1B1B1B;
}

.ft-botttom {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft-botttom p {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #777777;
}

.ft-botttom span,
.ft-botttom a {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: -0.05em;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    color: #000000;
}
.ft-botttom span,
.ft-botttom span a{
    text-decoration: none;
}